<h2>Hello <small>{{ name }}</small></h2>

Your registration for <a href="{{ uri_for '/' }}">{{ settings.site.name }}</a>
was rejected. Usually this means your registration looks like spam.

If you believe this was a mistake, get in touch with the administrator.

You've been rejected by {{ rejecter }}.
