Hello <strong>[% name %]</strong>,

Someone (hopefully you) requested to reset your password on PearlBee.

<br/><br/>

If that's you, <a href="[% uri_for('/reset-password', { token => token }) %]">follow this link</a>, and pick a new password.

Otherwise, just ignore this e-mail and your password will remain the same.
